<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tests_fisioterapia">

    <!--storage permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tests_fisioterapia">


        <activity android:name=".UI.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.AddPatientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.EditPatientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.PatientInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.AddTestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.RegisterUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.AddUserDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.TestIntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.TestResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.PoweredByActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UI.activities.IndexActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>